header{
    display: flex;
    justify-content: center;
    margin-bottom: 5vh;
}


body{

    background-color: rgb(228, 136, 179);
    color: white;
}

main{

    border: 0.5rem solid rgb(219, 123, 168);
    height: 60vh;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 3rem;
    gap: 10vw;

}
main button{
    width: 20vw;
    height: 10vh;
    padding: 0 5vw;
    border-radius: 2rem;
    font-size: 2rem;
    color: white;
    background-color: rgb(248, 83, 83);
    border: none;
}


.nem:hover{
    display: none;
}

.igen:hover{
    background-color: rgb(228, 53, 53);
}


h1{
    animation-name: myAnimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes myAnimation {
  0% {transform: translateX(-50px);}
  50% {transform: translateX(50px);}
  100% {transform: translateX(-50px);}
}

.szeret{
    display: flex;
    justify-content: center;
    border: solid 1rem rgb(240, 183, 98);
    border-radius: 1rem;
    width: 426px;
    margin: auto;
}

h1{
    font-family:'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}